<mat-list role="list" *ngIf="cartMapped$ | async as products">
  <mat-list-item role="listitem" *ngFor="let cartItem of products | keyvalue">
    <span>{{ cartItem.value[0].title }}.</span>
    <span>
      Price -
      {{
        (cartItem.value[0].price *
          (100 - cartItem.value[0].discountPercentage)) /
          100 | number: "1.0-0"
      }}&#36;</span
    >
    <span>&nbsp;Quantity - {{ cartItem.value.length - 1 }}</span>
    <button (click)="deleteFromCart(+cartItem.key)">delete from cart</button>
  </mat-list-item>
</mat-list>
<div *ngIf="totalPrice$ | async as totalPrice">Total Price: {{totalPrice}}</div>