.toolbar {
  &__project-name {
    font-size: 28px;
    cursor: pointer;
  }
}

.mat-toolbar {
  justify-content: center;
  margin-bottom: 10px;
}

.container-1 {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
}

.toolbar_link {
  font-size: 18px;
  &:hover {
    color: rgb(255, 0, 149)
  }
}

.contacts-link {
  color: #fff;
  text-decoration: none;
}

.active {
  color: rgb(255, 0, 149);
  background-color: rgba(175, 64, 129, 0.2);
}